flags:
  rewrite: true

cert:
  issuer: letsencrypt-prod
  secretName: le-issuer-payobills-cert

service:
  name: files
  port:
    number: 80

ingress:
  name: payments-graphql
  subdomain: payobills
  routePath: /files-service

hosts:
%{ for host in hosts ~}
- name: ${host}
%{ endfor ~}
