# Default values for openebs.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

rbac:
  # Specifies whether RBAC resources should be created
  create: true
  pspEnabled: false

serviceAccount:
  create: true
  name:

release:
  # "openebs.io/version" label for control plane components
  version: "1.6.0"

image:
  pullPolicy: IfNotPresent

apiserver:
  enabled: true
  image: "quay.io/openebs/m-apiserver"
  imageTag: "2.12.2"
  replicas: 1
  ports:
    externalPort: 5656
    internalPort: 5656
  sparse:
    enabled: "false"
  nodeSelector: {}
  tolerations: []
  affinity: {}
  healthCheck:
    initialDelaySeconds: 30
    periodSeconds: 60

defaultStorageConfig:
  enabled: "true"

persistentStoragePath:
  # baseDir is the value used to store openebs related files in this base
  # directory
  baseDir: "/var/openebs"

provisioner:
  enabled: true
  image: "quay.io/openebs/openebs-k8s-provisioner"
  imageTag: "2.12.2"
  replicas: 1
  nodeSelector: {}
  tolerations: []
  affinity: {}
  healthCheck:
    initialDelaySeconds: 30
    periodSeconds: 60

localprovisioner:
  enabled: true
  image: "quay.io/openebs/provisioner-localpv"
  imageTag: "3.4.0"
  replicas: 1
  basePath: "/homelab/drives/drive-2tb-1"
  nodeSelector: {}
  tolerations: []
  affinity: {}
  healthCheck:
    initialDelaySeconds: 30
    periodSeconds: 60

snapshotOperator:
  enabled: true
  controller:
    image: "quay.io/openebs/snapshot-controller"
    imageTag: "2.12.2"
  provisioner:
    image: "quay.io/openebs/snapshot-provisioner"
    imageTag: "2.12.2"
  replicas: 1
  upgradeStrategy: "Recreate"
  nodeSelector: {}
  tolerations: []
  affinity: {}
  healthCheck:
    initialDelaySeconds: 30
    periodSeconds: 60

ndm:
  enabled: false
  image: "quay.io/openebs/node-disk-manager-arm64"
  imageTag: "1.2.0"
  sparse:
    path: "/var/openebs/sparse"
    size: "10737418240"
    count: "0"
  filters:
    enableOsDiskExcludeFilter: true
    enableVendorFilter: true
    excludeVendors: "CLOUDBYT,OpenEBS"
    enablePathFilter: true
    includePaths: ""
    excludePaths: "loop,fd0,sr0,/dev/ram,/dev/dm-,/dev/md"
  probes:
    enableSeachest: false
  nodeSelector: {}
  tolerations: []
  healthCheck:
    initialDelaySeconds: 30
    periodSeconds: 60

ndmOperator:
  enabled: false
  image: "quay.io/openebs/node-disk-operator-arm64"
  imageTag: "1.2.0"
  replicas: 1
  upgradeStrategy: Recreate
  nodeSelector: {}
  tolerations: []
  readinessCheck:
    initialDelaySeconds: 4
    periodSeconds: 10
    failureThreshold: 1

webhook:
  enabled: true
  image: "quay.io/openebs/admission-server"
  imageTag: "1.6.0"
  failurePolicy: Ignore
  replicas: 1
  nodeSelector: {}
  tolerations: []
  affinity: {}

jiva:
  image: "quay.io/openebs/jiva"
  imageTag: "1.6.0"
  replicas: 3
  defaultStoragePath: "/var/openebs"

cstor:
  pool:
    image: "quay.io/openebs/cstor-pool"
    imageTag: "1.6.0"
  poolMgmt:
    image: "quay.io/openebs/cstor-pool-mgmt"
    imageTag: "1.6.0"
  target:
    image: "quay.io/openebs/cstor-istgt"
    imageTag: "1.6.0"
  volumeMgmt:
    image: "quay.io/openebs/cstor-volume-mgmt"
    imageTag: "1.6.0"

helper:
  image: "openebs/linux-utils"
  imageTag: "3.4.0"

policies:
  monitoring:
    enabled: true
    image: "quay.io/openebs/m-exporter"
    imageTag: "1.6.0"

analytics:
  enabled: true
  # Specify in hours the duration after which a ping event needs to be sent.
  pingInterval: "24h"
